.cabecalho{
	background-image: url("../images/bg-header.jpg");
	height: 164px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.menu-header{
	padding-left: 5% !important;
	padding-right: 5% !important;
	max-height: 75px;
}
.logo-header{
	position: relative;
    top: -60px;
    width: 100%;
}
.blue{
	color: #31c9db;
}
.pink{
	color: #e5007b;
}
.aln-left{
	float: left;
}
.pesquisa{
	width: 30% !important;
	margin-right: 25px;
}
.menu-item{
	color: #666;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8vw;
}
.menu-item-sm{
	color: #666;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8vw;
}
.menu-item:hover, .menu-item-sm:hover{
	text-decoration: none;
	color: #999;
}
.col-menu-left{
	width: 40%;
	float: left;
}
.col-menu-right{
	width: 40%;
	float: left;
}
.col-menu-center{
	width: 20%;
	float: left;
}
.botao-1{
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #f7005f;
	color: #f7005f;
	font-weight: bold;
	margin-right: 25px;
}
.botao-2{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#f7005f;
	color: #fff;
	font-weight: bold;
}
.botao-1:hover, .botao-2:hover{
	text-decoration: none;
	color: #333;
	transform: scale(1.3);
}
.menu-itens{
	width: auto;
}
.menu-itens-right{
	width: auto;
	padding-left: 25px;
}
.aln-right{
	float: right;
}